
.btn-outline-primary{
  color: black;
  background-color: transparent;
  background-image: none;
  border-color: none;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  right: 0px;
  background-color: #ffffff;
  width: 275px;
  /* overflow: auto; */
  box-shadow: 2px -3px 13px 2px rgba(154, 150, 150, 0.5);
  z-index: 9;
  border-radius: 10px;
  margin-top: 0px;
  font-size: 14px;
/* height: 200px; */
}

.titConfig {
    color: #8e8e8e;
    font-family: 'Avenir_Next_Demi_Bold';
    padding: 10px 0px 10px 20px;
    text-align: left;
    border-bottom: 1px solid #ebebeb;
}

a.divConfig1 {
    width: 100%;
    color: #8e8e8e;
    font-family: 'Avenir_Next_Demi_Bold';
    height: 44px;
    text-align: left;
    display: block;
}

.dropdown-content a {
    color: #8e8e8e;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


.menuhamburguesa{
    cursor: pointer;
}


.cont {
  margin-bottom: 15px;
  height: 250px;
  overflow-y: scroll;
}

.gris {
  border-bottom: 1px solid #ffd51d;
}

.titModal{
  margin-bottom: 15px;
}

.like-dislike{
  width: 25px;
  height: 25px;
  border: solid  2px;
  border-color: #49af25;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
}
