<div class="name">
  <b>Rodrigo </b> Mendoza<br>
  <br>
</div>

<div class="user-menu">
  <a class="dropdown" style="cursor:pointer;">
    <img  src="./assets/img/btn_desp_menu.jpg" class="configuraciones dropbtn">
    <div class="dropdown-content">
      <div class="titConfig">
        <a>Inicio</a>
      </div>
      <a style="cursor:pointer;" class="divConfig1 cuatro">
        <div>Cerrar Sesión</div>
        <div>
          <img src="./assets/img/ico4.svg" class="imgConfig imgIco4">
        </div>
      </a>
    </div>
  </a>
</div>

<div class="fecha">
  <strong id="date" style="font-size:11px;">{{ fecha | date:'d/M/y'}}</strong><br>
  <span id="reloj"></span>
</div>
